name: Magi build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          path: magi

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install wget curl build-essential libssl-dev libgmp-dev libminiupnpc-dev libboost-all-dev libprotobuf-dev libqrencode-dev -y

      - name: Install BerkelyDB
        run: |
          wget https://github.com/BastelPichi/berkely-db-fixed/releases/download/fix/db-4.8.30.NC.tar.gz
          tar xf db-4.8.30.NC.tar.gz
          cd db-4.8.30.NC/build_unix
          ../dist/configure -q --disable-shared --enable-cxx --disable-replication --with-pic --prefix=$HOME/berkely
          make
          make install

      - name: Compile Magi
        run: |
          cd $HOME/work/magi/magi/src/
          make -f makefile.unix
